<!DOCTYPE html>
<html lang="en">

<head>
    <title>Welcome Page</title>
</head>

<body>
    <h1>Welcome</h1>
    <p>Welcome to our website! You are now logged in.</p>

    <!-- Button to Create Event Page -->
    <form action="/create-event" method="GET">
        <input type="submit" value="Create Event">
    </form>
  <!-- Other content of the home page -->

<a href="/events-page">View Events</a>
    <form action="/logout" method="GET">
        <input type="submit" value="Logout">
    </form>
</body>

</html>
